.friendlist {
  list-style: none;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  display: flex;
  width: 300px;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  gap: 15px;
  margin: 0 auto;
  box-shadow: 1px 1px 7px 0px rgba(66, 68, 90, 1);
}

.name {
  align-self: center;
  font-size: 20px;
  font-weight: 500;
}

.online {
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  align-self: center;
}

.offline {
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  align-self: center;
}
