.transactionHistory {
  width: 600px;
  margin-bottom: 50px;
}

thead {
  color: white;
  background-color: rgb(14, 156, 156);
}

th,
td {
  padding: 10px 50px;
  text-align: center;
}

tbody > tr:nth-child(even) {
  background-color: #f1f1f1;
}

tbody > tr:nth-child(odd) {
  background-color: #fff;
}
